{:paths ["src"]
 :deps {org.clojure/core.match {:mvn/version "0.3.0"}}
 :default-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                org.clojure/clojurescript {:mvn/version "1.11.60"}
                datascript "1.0.1"
                reagent "0.9.0-rc2"}}
